<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMovies: Admin Panel</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        label{
            color: white;
        }
        .text-center{
            color:white;
        }
    </style>
</head>
<body style="background-color: #171622">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">TMovies Managment System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/user/details/data}">TMovies:Admin Panel</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-Lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color: #212130">
     <h1 class="text-center">Create MoviesDetail Data</h1>
      <div class="card-body">
        <form  th:action="@{/admin/save/users-data}" th:object="${usersNewData}" method="post" th:method="post" action="create-userdetails-data.html">
           <div class="form-group">
               <label>Username</label>
                <input
                        type="text"
                        name="firstname"
                        class="form-control"
                        th:field="*{username}"
                        placeholder="Enter the Username"
                        required
                >
           </div>
            <div class="form-group">
                <label>Password</label>
                <input
                        type="password"
                        name="lastname"
                        class="form-control"
                        th:field="*{password}"
                        placeholder="Enter the Password"
                        required
                >
            </div>
            <div class="form-group">
                <label>Role</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{role}"
                        placeholder="Enter the Role"
                        required
                >
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>