<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMovies: Admin Panel</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        label{
            color: white;
        }
        .text-center{
            color:white;
        }
    </style>
</head>
<body style="background-color: #171622">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">TMovies Managment System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/table/datatable/basic}">TMovies:Admin Panel</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-Lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color: #212130">
     <h1 class="text-center">Create MoviesDetail Data</h1>
      <div class="card-body">
        <form  th:action="@{maindetail/editing/by/{id}(id = ${editmaindetail.id})}" th:object="${editmaindetail}" method="get">
           <div class="form-group">
               <label>TMovies Logo</label>
                <input
                        type="text"
                        name="firstname"
                        class="form-control"
                        th:field="*{TMoviesLogo}"
                        placeholder="Enter the TMovies Logo"
                >
           </div>
            <div class="form-group">
                <label>TMovies Word</label>
                <input
                        type="text"
                        name="lastname"
                        class="form-control"
                        th:field="*{TMoviesWord}"
                        placeholder="Enter the Word"
                >
            </div>
            <div class="form-group">
                <label>TMovies Word</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterBackground}"
                        placeholder="Enter the Footer Background"
                >
            </div>
            <div class="form-group">
                <label>Home</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterHome}"
                        placeholder="Enter the Home"
                >
            </div>
            <div class="form-group">
                <label>Contact Us</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterContact}"
                        placeholder="Enter the Contact"
                >
            </div>
            <div class="form-group">
                <label>Service</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterService}"
                        placeholder="Enter the Service"
                >
            </div>
            <div class="form-group">
                <label>About</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterAbout}"
                        placeholder="Enter Movie Type1"
                >
            </div>
            <div class="form-group">
                <label>Live</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterLive}"
                        placeholder="Enter Movie Type2"
                >
            </div>
            <div class="form-group">
                <label>Faq</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterFaq}"
                        placeholder="Enter the Faq"
                >
            </div>
            <div class="form-group">
                <label>Premium</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterPremium}"
                        placeholder="Enter the Premium"
                >
            </div>
            <div class="form-group">
                <label>Must Watch</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterMustWatch}"
                        placeholder="Enter the Must Watch"
                >
            </div>
            <div class="form-group">
                <label>Release</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterRelease}"
                        placeholder="Enter the Release"
                >
            </div>
            <div class="form-group">
                <label>Top IMDB</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{TMoviesFooterTopImdb}"
                        placeholder="Enter the Top IMDB"
                >
            </div>
            <div class="form-group">
                <label>Paralax Background</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{tvSeriesParalaxBackground}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="form-group">
                <label>Paralax Luna</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{tvSeriesParalaxLuna}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="form-group">
                <label>Paralax Nube1</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{tvSeriesParalaxNub1}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="form-group">
                <label>Paralax Nube2</label>
                    <input
                            type="text"
                            name="email"
                            class="form-control"
                            th:field="*{tvSeriesParalaxNube2}"
                            placeholder="Enter the Image"
                    >
            </div>
            <div class="form-group">
                <label>Paralax Jet</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{tvSeriesParalaxJet}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="form-group">
                <label>Paralax Ironman</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{tvSeriesParalaxIronman}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="form-group">
                <label>Movies Header</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        th:field="*{moviesHeader}"
                        placeholder="Enter the Image"
                >
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>